.row{
    padding: 15px;
}

div{
    background-color: #081d3c;
    text-align: center;
    color: white;
}

#nombre{
    font-weight: bold;
    margin-top: 10%;
}

@media(min-width: 576px ){
    #foto-perfil{
        position: relative;
        left: 5%;
        width: 80%;
        border-radius: 100%;
        box-shadow: 4px 4px 10px black;
    }
}

@media(max-width: 576px ){
    #foto-perfil{
        width: 80%;
        border-radius: 100%;
    }
}