.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logoArgentinaPrograma{
    width: 150px;
}

img{
    width: 40px;
}

button{
    border-width: 0.145em;
    margin: 0.5em;
}

@media(max-width: 575px) {
    .container{
        flex-direction: column;
    }
    
    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .redes img{
        margin: 0.25em;
    }
}