
<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="row text-center">
        <div class="col-xs-8 col-sm-5 col-md-4 col-lg-4">
            <circle-progress
                [title]="'HTML, CSS, JS'"
                [titleColor]="'#ffffff'"
                [showSubtitle]="false"
                [percent]="70"
                [radius]="90"
                [showUnits]="false"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="0"
                [outerStrokeColor]="'#fc4d5a'"
                [animation]="true"
                [animationDuration]="350"
            ></circle-progress>
        </div>
        <div class="col-xs-8 col-sm-5 col-md-4 col-lg-4">
            <circle-progress
                [title] = "'C++'"
                [titleColor]="'#ffffff'"
                [showSubtitle]="false"
                [percent]="70"
                [radius]="90"
                [showUnits]="false"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="0"
                [outerStrokeColor]="'#fc4d5a'"
                [animation]="true"
                [animationDuration]="350"
            ></circle-progress>
        </div>
        <div class="col-xs-8 col-sm-5 col-md-4 col-lg-4">
            <circle-progress
                [title] = "'TeamWork'"
                [titleColor]="'#ffffff'"
                [showSubtitle]="false"
                [percent]="100"
                [radius]="90"
                [showUnits]="false"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="0"
                [outerStrokeColor]="'#fc4d5a'"
                [animation]="true"
                [animationDuration]="350"
            ></circle-progress>
        </div>
        <div class="col-xs-8 col-sm-5 col-md-4 col-lg-4">
            <circle-progress
                [title]="'English'"
                [titleColor]="'#ffffff'"
                [showSubtitle]="false"
                [percent]="70"
                [radius]="90"
                [showUnits]="false"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="0"
                [outerStrokeColor]="'#fc4d5a'"
                [animation]="true"
                [animationDuration]="350"
            ></circle-progress>
        </div>
        <div class="col-xs-8 col-sm-5 col-md-4 col-lg-4">
            <circle-progress
                [title]="'HTML, CSS, JS'"
                [titleColor]="'#ffffff'"
                [showSubtitle]="false"
                [percent]="70"
                [radius]="90"
                [showUnits]="false"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="0"
                [outerStrokeColor]="'#fc4d5a'"
                [animation]="true"
                [animationDuration]="350"
            ></circle-progress>
        </div>
        <div class="col-xs-8 col-sm-5 col-md-4 col-lg-4">
            <circle-progress
                [title]="'HTML, CSS, JS'"
                [titleColor]="'#ffffff'"
                [showSubtitle]="false"
                [percent]="70"
                [radius]="90"
                [showUnits]="false"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="0"
                [outerStrokeColor]="'#fc4d5a'"
                [animation]="true"
                [animationDuration]="350"
            ></circle-progress>
        </div>
    </div>
    
</div>